ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
body {
  font-family: Roboto, Raleway, sans-serif;
}
.logotype {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logotype-span {
  color: #4d5ae5;
}

.menu-link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contact-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.main {
    background:  #2E2F42;
}
.main-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
}
.btn:hover,
.btn:focus {
   background: #404BBF;
   color: #FFFFFF;
}
.subtitle {    
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.subtitle-text {  
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:  #434455;
}
.container {
    background: #F4F4FD;
}

.headline { 
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2E2F42;
}
.container-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2E2F42;
}
.container-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
}
.box-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42; 
}
.box-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.box-subtitle-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background: #2E2F42;
}
.footer-link {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #F4F4FD;
}